@model IEnumerable<ASP.NET_HW_4_Publishers.Models.Role>
@using ASP.NET_HW_4_Publishers.Models
@{
	ViewBag.Title = "Index";
}

<h2>@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()</h2>

<p>
	@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>

@Html.GenerateTable(Model,
item =>
$"{Html.ActionLink("Edit", "Edit", new { id = item.Id })} | " +
$"{Html.ActionLink("Details", "Details", new { id = item.Id }, new { })} | " +
$"{Html.ActionLink("Delete", "Delete", new { id = item.Id })}")
